.image-slider{
		box-shadow: 0 1px 3px 1px #d0d0d0;
}

.image-slider img{
	max-height: 100%;
	display: block;
	height: auto;
}

//Estilização da paginação
.swiper-pagination{
	top: 85%; 
}

.swiper-pagination .swiper-pagination-bullet {
	padding: 3px;
	background-color: transparent;
	width: 15px;
	height: 15px;
	border: 1px solid #fff;
	opacity:1;
}

.swiper-pagination .swiper-pagination-bullet-active{
	padding: 3px;
	background-color: #fff;
	width: 15px;
	height: 15px;
	border: 1px solid #fff;
	opacity:1;
}


//Introdução
.intro{
	text-align: center;
	font-size: 1.35em;
	padding: 0 30px;
}

//Midia Sociais
.social-midia .col:nth-child(1){
	width:90px;
}

.icon-social-midia{
	width:40px;
	height:40px;
	display: block;
}