<ion-header>
  <ion-navbar color="main">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="titulo">AVEC</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid >
    <ion-row>
      <ion-col>
        <ion-slides class="image-slider" (ionSlideDidChange)="slideChanged()" loop="true">
          <ion-slide *ngFor="let foto of gallery">
            <img src="http://static.salaovip.com.br/saloes/vip/galeria/originais/{{foto.foto}}">
          </ion-slide>
        </ion-slides>                
        <button *ngFor="let index of gallery" (click)="goToSlide()"></button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
