// Definições padrões do App

*{
	font-family: Arial;
}

.titulo{
	text-align: center;
}

.center{
	margin: 0 auto;
}

.left{
	float: left;
}

.right{
	float: right;
}

/* Estilização do Menu */

.nav-content{
	background-color: color($colors, main);

}

.nav-menu{
	height: 180px;	
	background-color: #fff;
	box-shadow: inset 0 -20px 10px -10px #d0d0d0;
}

.icone-menu{
	display: block;
	width: 45%;
	margin: 0 auto;
}

.item-menu{
	background-color: #7900ab;
}

.item-menu button{
	color: #fff;
	background-color: color($colors, main);
	padding: 30px 0;
	width: 230px;
	margin: 0 auto;
	display: block;
	border-bottom: solid 1px #fff;
	text-align: left;
	font-size: 1.25em;
}

.item-menu a{
	text-decoration: none;
	color: currentColor;
}

.no-padding{
	padding: 0;
}
